<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://les-go.com/" target="_blank">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://les-go.com/" target="_blank">
                        Company
                    </a>
                </li>
                <li>
                    <a href="http://blog.les-go.com" target="_blank">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://les-go.com/">PT LESGO INDONESIA PINTAR</a>
        </p>
    </div>
</footer>
